footer{
    font-size: 0.9em; margin: 3em 0;
}

/* div#case {
    width: 90%;
    max-width: 600px;
    text-align: left;
    margin: 1em auto;
    line-height: 1.4em;
} */

/* div#case p b {
    display: block;
} */

body {
    text-align: center;
}

h1 {
    text-align: center;
}

figure img {
    width: 200px;
}

a {
    text-decoration: none;
    color: black;
}

figure {
    margin: 1em auto;
}

figure#shifts {
    display: inline-block;
    margin-right: 60px;
    margin-left: 60px;
}

figure#daylist {
    display: inline-block;
    margin-right: 60px;
    margin-left: 60px;
}

div#shifts {
    width: 1000px;
    text-align: center;
    margin: 1em auto;
}

div#frontopening {
    text-align: left;
    margin: 1em auto;
    width: 30%;
    display: block;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    /* border: 1px solid red; */
}

label {
    display: block;
}

button {
text-align: center;
display: block;
margin: 1em auto;
}

h2 {
    text-align: center;
}

td {
    text-align: left;
    padding: 0px;
}

th#items {
    text-align: left;
}

th#total {
    text-align: left;
}

input#begttl, input#slcttl, input#ttlttl, input#usettl, input#grndttl {
    width: 17.5%;
}

div#slicecontent {
    margin: 1em auto;
    width: 300px;
}

table#slicechart {
    margin: 1em auto;
}

select, option{
    text-align: left;
}

p#begttl, p#slcttl, p#ttlttl, p#usettl {
    text-align: center;
}

p#grndttl {
    text-align: right;
}

div#daylist{
    display:inline-block;
    width: 700px;
}

div#daychecklist {
    text-align: left;
    margin: 1em auto;
    width: 30%;
    display: block;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    /* border: 1px solid red; */
}

div#nightchecklist {
    text-align: left;
    margin: 1em auto;
    width: 30%;
    display: block;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    /* border: 1px solid red; */
}

div#finalfcchecklist {
    text-align: left;
    margin: 1em auto;
    width: 30%;
    display: block;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    /* border: 1px solid red; */
}

h3#daytimeleader{
    text-align: center;
}

h3#nighttimeleader{
    text-align: center;
}

@media screen and (max-width:1280px) and (max-height: 800px) {
    div#frontopening {
        margin-left: 160px;
        width: 1240px;
    }

    h2{
        margin-left: -50px;
    }

    h1{
        margin-left: 30px;
    }
    button{
        margin-left: 630px;
    }
    h1#selectshift{
        margin:1em auto;
    }

    h1#frontopening{
        margin:1em auto;
    }
}

@media screen and (max-width:1024px) and (max-height: 600px) {

    h2{
        margin-right: 80px;
    }

    h1{
        margin-right:20px;
    }
    h1#selectshift{
        margin:1em auto;
    }

    h1#frontopening{
        margin:1em auto;
    }

}

@media screen and (max-width:1024px) and (max-height: 1366px) {
    div#frontopening {
        margin-left: 30px;
        width: 1000px;
    }

    h2#times{
        margin-left: -40px;
    }
}

@media screen and (max-width:768px) and (max-height: 1024px) {
    div#frontopening {
        margin: 10px;
        width: 730px;
    }
    div#selectshift{
        margin-left: 120px;
        margin-right: -120px;
    }
    h2#times{
        margin-left: 15px;
    }
}

@media screen and (max-width:540px) and (max-height: 720px) {
    div#frontopening {
        margin: 10px;
        width: 630px;
    }

    button{
        margin-left: 300px;
    }

    h1{
        margin-left: 125px;
    }

    h1#selectshift{
        margin: 1em auto;
    }
    div#shifts{
        width: 750px;
    }

    h1#frontopening{
        margin: 1em auto;
    }
}

@media screen and (max-width:414px) {
    div#frontopening {
        margin: 10px;
        width: 650px;
    }

    div#selectshift{
        margin-left: 300px;
        margin-right: -300px;
    }

    h1{
        margin-left: 130px;
        margin-right:-130px
    }

    h2#times{
        margin-right:30px;
    }

    button{
        margin-left: 300px;
    }

    
}

@media screen and (max-width:414px) {
    div#shifts{
        width:750px;
    }

    div#selectshift{
        margin-left: 50px;
    }

    h1#frontopening{
        margin: 1em auto;
    }
}

@media screen and (max-width:411px) {
    h1#selectshift{
        margin-right: 125px;
    }

    h1#frontopening{
        margin:1em auto;
    }
}

@media screen and (max-width:375px) and (max-height:667px) {
    div#frontopening {
        margin: 10px;
        width: 335px;
    }
    h1{
        margin-left:5px;
        margin-right:-5px;
    }
    h1#selectshift{
        margin-right: -50px;
    }
    button{
        margin-left:160px;
    }
}

@media screen and (max-width:375px) and (max-height: 812px) {
    h1#selectshift{
        margin-right: 120px;
        margin-left: -120px;
    }
}

@media screen and (max-width:375px) {
    div#frontopening {
        margin: 10px;
        width: 480px;
    }

    div#selectshift{
        margin-left: 320px;
        margin-right: -320px;
    }

    h1{
        margin-left:60px;
        margin-right:-60px;
    }

    h2#times{
        margin-right:25px;
    }
    button{
        margin-left: 215px;
    }
}

@media screen and (max-width:360px) and (max-height: 740px) {
    div#frontopening {
        margin: 10px;
        width: 380px;
    }

    div#selectshift{
        margin-left: 325px;
        margin-right: -325px;
    }

    h1{
        margin-left: 20px;
        margin-right:-20px;
    }

    button{
        margin-left: 170px;
    }

    h1#selectshift{
        margin-left:-120px;
    }

    h1#frontopening{
        margin:1em auto;
    }
    
}

@media screen and (max-width:360px) and (max-height: 640px) {
    div#frontopening {
        margin: 10px;
        width: 380px;
    }

    div#selectshift{
        margin-left: 325px;
        margin-right: -325px;
    }
    button{
        margin-left: 170px;
    }

    h1{
        margin-left:20px;
        margin-right:-20px;
    }
}

@media screen and (max-width:320px) and (max-height:658px) {
    div#frontopening {
        margin: 10px;
        width: 300px;
    }

    div#selectshift{
        margin-left: 345px;
        margin-right: -345px;
    }

    h1{
        margin-left:-1px;
        margin-right: 1px;
    }

    button{
        margin-left: 130px;
    }
}


@media screen and (max-width:320px) and (max-height:568px) {
    div#frontopening {
        margin: 10px;
        width: 280px;
    }

    div#selectshift{
        margin-left: 345px;
        margin-right: -345px;
    }
    button{
        margin-left: 125px;
    }
    h2#times{
        margin-left: 0px;
        margin-right:0px;
    }

    h1{
        margin-left:1px;
        margin-right: -1px;
    }

    h1#selectshift{
        margin-left: -120px;
        margin-right:120px;
    }
}

@media screen and (max-width:280px) and (max-height: 653px) {
    div#frontopening {
        margin-left: 10px;
        width: 260px;
    }

    div#selectshift{
        margin-left: 365px;
        margin-right: -365px;
    }

    h2#times{
        margin-right: 25px;
    }

    h1{
        margin-left:-3px;
        margin-right:3px;
        width: 275px;
    }

    button{
        margin-left: 110px;
    }

    h1#selectshift{
        margin-left: -130px;
    }

    h1#frontopening{
        margin-left: -5px;
    }
}

p#rbttl, p#pastramittl, p#hamttl, p#turkeyttl, p#pjackttl, p#swissttl, p#cheddttl, p#jackttl, p#lemonsttl, p#picklettl, p#bellsttl, p#mushttl, p#tomsttl, p#onsttl {
    text-align: center;
}

@media screen and (orientation: landscape) and (max-width:1366px) and (max-height: 1024px) {
    div#frontopening{
        width: 1000px;
        margin-left: 200px;
    }

    h2#times{
        margin-right: 40px;
    }
}

@media screen and (orientation: landscape) and (max-width:1024px) and (max-height: 768px) {
    div#frontopening{
        margin-left: 70px;
    }
    h2#times{
        margin-left: -13px;
    }
    h1{
        margin-left:90px;
    }
    button{
        margin-left:512px;
    }
}

@media screen and (orientation: landscape) and (max-width:823px) and (max-height: 411px) {
    div#frontopening {
        margin-left: 30px;
        width: 750px;
    }

    div#selectshift{
        margin-left: 95px;
        margin-right: -95px;
    }

    h2#times{
        margin-left: 90px;
    }
    button{
        margin-left: 400px;
    }
}

@media screen and (orientation: landscape) and (max-width:812px) and (max-height: 375px) {
    div#frontopening {
        margin-left: 30px;
        width: 740px;
    }

    div#selectshift{
        margin-left: 100px;
        margin-right: -100px;
    }

    h1{
        margin-right: 60px;
    }

    button{
        margin-left:400px;
    }
}

@media screen and (orientation: landscape) and (max-width:740px) and (max-height: 360px) {
    div#frontopening {
        margin-left: 30px;
        width: 665px;
    }

    div#selectshift{
        margin-left: 135px;
        margin-right: -135px;
    }

    h2#times {
        margin-left: 90px;
    }

    button{
        margin-left:360px;
    }
}

@media screen and (orientation: landscape) and (max-width:736px) and (max-height: 414px) {
    div#frontopening {
        margin-left: 30px;
        width: 660px;
    }

    div#selectshift{
        margin-left: 140px;
        margin-right: -140px;
    }

    h2#times{
        margin-left: 85px;
    }

    button{
        margin-left: 360px;
    }
    h1{
        margin-right: 50px;
    }
}

@media screen and (orientation: landscape) and (max-width:731px) and (max-height: 411px) {
    div#frontopening {
        margin-left: 30px;
        width: 660px;
    }

    div#selectshift{
        margin-left: 137px;
        margin-right: -137px;
    }

    h2#times {
        margin-left: 80px;
    }
    button{
        margin-left: 350px;
    }
}

@media screen and (orientation: landscape) and (max-width:720px) and (max-height: 540px) {
    div#frontopening {
        margin-left: 30px;
        width: 640px;
    }

    h1{
        margin-right: 75px;
    }

    button{
        margin-left: 330px;
    }

    h2#times{
        margin-left:60px;
    }

    div#selectshift{
        margin-left: 145px;
        margin-right: -145px;
    }
}

@media screen and (orientation: landscape) and (max-width:667px) and (max-height: 375px) {
    div#frontopening {
        margin-left: 30px;
        width: 590px;
    }

    div#selectshift{
        margin-left: 175px;
        margin-right: -175px;
    }
    button{
        margin-left:310px;
    }
}

@media screen and (orientation: landscape) and (max-width:658px) and (max-height: 320px) {
    div#frontopening {
        margin-left: 30px;
        width: 580px;
    }

    div#selectshift{
        margin-left: 175px;
        margin-right: -175px;
    }
}

@media screen and (orientation: landscape) and (max-width:653px) and (max-height: 280px) {
    div#frontopening {
        margin-left: 30px;
        width: 570px;
    }

    div#selectshift{
        margin-left: 177px;
        margin-right: -177px;
    }

    button{
        margin-left:300px;
    }
}

@media screen and (orientation: landscape) and (max-width:640px) and (max-height: 360px) {
    div#frontopening {
        margin-left: 30px;
        width: 565px;
    }

    div#selectshift{
        margin-left: 180px;
        margin-right: -180px;
    }
    button{
        margin-left:295px;
    }
}

@media screen and (orientation: landscape) and (max-width:568px) and (max-height: 320px) {
    div#frontopening {
        margin-left: 30px;
        width: 500px;
    }

    div#selectshift{
        margin-left: 220px;
        margin-right: -220px;
    }
    button{
        margin-left:265px
    }
}